// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// Using CDN for font-awesome
@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Tail wind
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  // background-color: #f7f2ef;
    //  background: linear-gradient(90deg, #360033 30%, #0b8793 100%);

  //  background-ixmage: url('/assets/images/fabric.png');
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNIR_ddGBAdmGbadfDqTfSPus6ZvFlE8B1fA&usqp=CAU");

}

iframe {
  width: 100%;
  min-height: 400px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 767px) {
  /* For a screen < 540px, this CSS will be read */
  .card-container {
    flex-direction: column;
  }
  .text {
    padding-left: 0;
    padding-top: 2rem;
  }
  .pro {
    flex-wrap: wrap;
    justify-content: center;
    h5,
    p {
      text-align: center;
    }
  }
  .pic {
    width: 100%;
    height: 100%;
  }
  .tabs-underlined .tab-underlined {
   padding: 4px;
   margin: 8px 8px;

  }

}
