<%# <div class="wrapper-white"> %>
<div id="about">
  <h2>About</h2>
  <div class="card-container d-flex" style="padding: 32px">
    <%= image_tag "profile.jpeg", alt: "alttext", class: 'avatar-bordered' %>
    <div class="text text-center">
      <p>Hello, I'm <strong>Ope</strong>, a full stack web developer based in Tokyo, Japan. Originally from Nigeria, I have a carrer background in Logistics and Business Development. I'm currently open to work opportunities or collaborations on small projects. When I'm not coding, you can find me dancing, listening to music or watching movies. </p>
    </div>
  </div>
</div>
<%# </div> %>
