<div id="about">
  <h2>ABOUT</h2>
  <div class="card-container d-flex" style="padding: 32px">
    <%= image_tag "profile.jpeg", alt: "alttext", class: 'avatar-bordered' %>
    <div class="text">
      <p>Hello ✋🏽, I'm <strong>Ope</strong>, a full stack web developer based in Tokyo, Japan.
      Originally from Nigeria, I have a carrer background in Logistics and Business Development.
        I'm currently open to work opportunities in web development or collaborations on small projects.
        When I'm not coding, you can find me dancing, listening to music or watching movies. </p>
      <div class="pro-buttons">
      <button><a href="https://drive.google.com/file/d/1SKLH90BuLgP-uurbTPw76qJH08kjws5b/view" target="_blank" class="button-link" style="text-decoration: none">Résumé</a></button>
      <button><a href="https://medium.com/@opedada_79780" target="_blank" class="button-link" style="text-decoration: none">My Blog</a></button>
    </div>
    </div>
  </div>
</div>
