<div class="wrapper-white">
  <div class="col-12">
    <div class="main-container" id="about">
      <h2>About Me</h2>
      <p>I'm a full stack web developer based in Tokyo, Japan. Originally from Nigeria, my carrer background is in Logistics and Business development</p>
      <%= image_tag "profile.png", alt: "alttext", style: 'width:100%' %>
    </div>
  </div>
</div>
