<div class="wrapper-white">
  <div id="about">
    <h2>Who I Am</h2>
    <div class="card-container d-flex" style="padding: 48px;margin-bottom: 0">
      <%= image_tag "profile.jpeg", alt: "alttext", class: 'avatar-bordered' %>
      <div class="text text-center">
        <p>Hello, I'm Ope, a full stack web developer based in Tokyo, Japan. Originally from Nigeria, I have a carrer background in Logistics and Business Development. I'm ccurrently open to work opportunities or collaborations on small projects. When I'm not coding, you can find me dancing to music and watching movies. </p>
      </div>
    </div>
  </div>
</div>
