<div class="banner">
  <h1>Opemipo Dada</h1>
  <h3>Full-Stack developer</h3>
  <div class="navigation links">
    <div class="menu-item">
      <i class="fas fa-info-circle"></i>
      <a class="navigation-button-link" href="#about">About</a>
    </div>
    <div class="menu-item">
      <i class="fas fa-laptop-code"></i>
      <a class="navigation-button-link" href="#projects">Projects</a>
    </div>
    <div class="menu-item">
      <i class="fas fa-envelope"></i>
      <a class="navigation-button-link" href="#contact">Contact</a>
    </div>
  </div>
</div>
