.section__title {
  margin-bottom: 0.25em;
}
.section__title--intro {
  font-weight: var(--fw-reg);
  line-height: 1.2;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro {
  animation: example linear 3s alternate;
  animation-timing-function: ease-in-out;
}

@keyframes example {
  0% {
    background-color: #dbb1b8;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: #ffff00;
    left: 200px;
    top: 0px;
  }
}
.section__subtitle--intro,
.section__subtitle--about {
  background: #ede0e2;
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 0.5em;
}

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}
