.card-container {
  background-color: #fffefe;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 32px;
  border-radius: 0px 32px;

  .text {
    font-size: 18px;
    color: #1c1836;
  }
}


h2 {
  font-weight: bolder;
  color: #360036;
  padding: 3px;
  text-align: center;
  margin-top: 68px;
}


.text {
  padding-left: 16px;
}

.navigation-button-footer {

  position: relative;
  color: #1c1836;
  margin:auto;

  &:hover {
    opacity: 0.7;
  }
  }

  .navigation-button-footer-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
