.card-container {
  background-color: #fffefe;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 3rem;
  border-radius: 0px 32px;


}

h2 {
  font: "Montserrat", "Helvetica", "sans-serif";
  font-size: 2rem;
  color: #360036;
  text-align: center;
  margin-top: 16rem;
}

.text {
  padding-left: 2rem;
}

.navigation-button-footer {
  position: relative;
  color: #1c1836;
  margin: auto;

  &:hover {
    opacity: 0.7;
  }
}

.navigation-button-footer-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

footer .copyright {
  font-size: 0.8em;
  padding: 0;
  text-align: center;
}

button {
  border: 2px solid #630910;
  background-color: white;
  border-radius: 0px 8px;
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: all 0.4s ease 0s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;

  &:hover {
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }
}
.button-link {
  color: #1c1836da;

  &:hover {
    color: #1c1836;
  }
}
