.card-container {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
  align-items: center;
  box-shadow:0 0 15px rgba(0,0,0,0.2);


  p {
    font-size: 18px;
    color: rgb(77, 76, 76);
  }
}

.wrapper-white {
  background: radial-gradient(circle, rgba(238,174,202,0.12788865546218486) 0%, rgba(148,153,233,0.14189425770308128) 100%);  padding: 24px;

  box-shadow:0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 24px;
  border-radius: 5px;
  padding: 8px;
}

h2 {
  font-weight: bolder;
  color: darkslateblue;
  padding: 3px;
}
