div {
  width: 300px;
  height: 100vh;
}

// a {
//   display: inline-block;
//   background-color: white;
// }

#about {
  background-color: white;
}
#projects {
  background-color: white;
}
#contact {
  background-color: white;
}
