// .navbar {
//   position: fixed;
//   // top: 0;
//   // bottom: 0;
//   // left: 0;
//   // right: 0;
//   // z-index: 100;
// }

.navbar-lewagon {
  justify-content: space-between;
  background: #ede1e2;
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
